<!-- tienda/templates/tienda/detalle_producto.html -->

{% extends 'tienda/base.html' %}

{% block title %}Detalles del Producto - El Bazar de la Nona{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-3xl font-semibold mb-4">{{ producto.nombre }}</h1>
    <p class="text-lg text-gray-700">{{ producto.descripcion }}</p>
    <p class="text-lg text-gray-700">Precio: ${{ producto.precio }}</p>
    <p class="text-lg text-gray-700">Cantidad Disponible: {{ producto.cantidad }}</p>
    <a href="{% url 'lista_productos' %}" class="mt-4 inline-block bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">Volver a Productos</a>
</div>
{% endblock %}
