{% extends 'tienda/base.html' %}

{% block title %}Lista de Ventas - El Bazar de la Nona{% endblock %}

{% block content %}
<h1 class="text-2xl mb-4">Lista de Ventas</h1>

<ul class="divide-y divide-gray-300">
    {% for venta in ventas %}
    <li class="py-2">
        <p><strong>Producto:</strong> {{ venta.producto.nombre }}</p>
        <p><strong>Cantidad:</strong> {{ venta.cantidad }}</p>
        <p><strong>Fecha:</strong> {{ venta.fecha }}</p>
    </li>
    {% empty %}
    <li class="py-2">No hay ventas registradas.</li>
    {% endfor %}
</ul>

<a href="{% url 'nueva_venta' %}" class="mt-4 inline-block bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">Nueva Venta</a>
{% endblock %}